In [4]:
#Actividad 1-2 Python for Data Science (IBM)
#Modulo 1
#Actividad 1.1
print('Hello World')
print('Hello \nWorld')

Hello World
Hello
World

In [16]:
#Actividad 1.2
type('Hello World')
type(1.1)
print(int(1))
print(bool(1))

1
True

In [27]:
#Lab 1
print('Hello, Python!') #Prints a comment
import sys
print(sys.version)
frint('Hello, Python!') #Error in code, misspelled print

Hello, Python!
3.10.2 (main, Aug  9 2022, 13:42:49) [Clang 15.0.0 (https://github.com/llvm/llvm-project 7effcbda49ba32991b8955821b8f

<class 'NameError'>: name 'frint' is not defined

In [28]:
print('this will be printed')
frint('this will cause an error')
print('this will NOT be printed')

this will be printed

<class 'NameError'>: name 'frint' is not defined

In [24]:
type(12)

float

In [25]:
type(2.14)

float

In [26]:
type('Hello, Python 101!')

str

In [29]:
type(-1)

int

In [30]:
type(0)

int

In [31]:
type(4)

int

In [32]:
type(1.0) #this is a float

float

In [33]:
type(0.5)

float

In [34]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [36]:
#Verify this is an integer
type(2)

int

In [37]:
#Convert 2 to a float
float(2)

2.0

In [38]:
#Convert integer to a float and check type
type(float(2))

float

In [39]:
#Converting from a float to an integer miss cause loss of information
int(1.1)

1

In [47]:
#Convert string to integer
int('1')

1

In [41]:
#Convert string to integer with an error
int('1 or 2 people')

<class 'ValueError'>: invalid literal for int() with base 10: '1 or 2 people'

In [42]:
#Convert string to float
float('1.2')

1.2

In [43]:
#Convert int to string
str(1)

'1'

In [44]:
#Convert float to string
str(1.2)

'1.2'

In [45]:
#Value True
True

True

In [46]:
#Value False
False

False

In [48]:
#Type True
type(True)

bool

In [49]:
#Type False
type(False)

bool

In [50]:
#Convert True to int
int(True)

1

In [51]:
#Convert 1 to boolean
bool(1)

True

In [52]:
#Convert 0 to boolean
bool(0)

False

In [53]:
#Convert True to floar
float(True)

1.0

In [54]:
#Check data type of an expression
type(6/2)

float

In [55]:
type(6//2)

int

In [56]:
#Addition operation expression
43+60+16+41

160

In [57]:
#Substraction operation expression
50-60

-10

In [58]:
#Multiplication operation expression
5*5

25

In [59]:
#Division operation expression
25/5

5.0

In [60]:
25/6

4.166666666666667

In [61]:
#Integer division operation expression
25//5

5

In [62]:
25//6

4

In [63]:
#How many hours are in 160minutes
160/60

2.6666666666666665

In [64]:
#Mathematical expression
30+2*60

150

In [65]:
(30+2)*60

1920

In [67]:
#Store value into a variable
x=43+60+16+41

In [68]:
#Show the value of the variable
x

160

In [69]:
#Use another variable using the value of the first variable
y=x/60
y

2.6666666666666665

In [70]:
x=x/60
x

2.6666666666666665

In [73]:
#Name variables
total_min=43+42+57 #Total of minutes
total_min

142

In [74]:
total_hrs=total_min/60 #Total of hours
total_hrs

2.3666666666666667

In [75]:
total_hours=(43+42+57)/60 #Total of hours with one single expression
total_hours

2.3666666666666667

In [76]:
x=3+2*2
x

7

In [77]:
y=(3+2)*2
y

10

In [78]:
z=x+y
z

17

In [79]:
#Actividad 1.3
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [80]:
Good="GsoAo+d"
Good[::2]

'Good'

In [81]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [82]:
"0123456".find('1')

1

In [83]:
#Lab
#Quotation marks to define a string
"Michael Jackson"

'Michael Jackson'

In [84]:
#Single quote marks are also valid for strings
'Michael Jackson'

'Michael Jackson'

In [85]:
#Spaces and digits are also stings
'0 1 2 3 4 5 6 '

'0 1 2 3 4 5 6 '

In [86]:
#Strings can also be special characters
'"@$%&/((_*p'

'"@$%&/((_*p'

In [87]:
#Print a string
print('Hello, World!')

Hello, World!

In [88]:
#Assign a string to a variable
name="Michael Jackson"
name

'Michael Jackson'

In [89]:
#Print the first element in the string
print(name[0])

M

In [90]:
#Print the element on the index 6 in the string
print(name[6])

l

In [91]:
#Print the element on the index 13 in the string
print(name[13])

o

In [92]:
#Print the last element in the string
print(name[-1])

n

In [93]:
#Print the first element in the string
print(name[-15])

M

In [95]:
#Find the lenght of the string
len(name)
len("Michael Jackson")

15

In [96]:
#Slice of index 0 to index 3
name[0:4]

'Mich'

In [97]:
#Slice of index 8 to index 11
name[8:11]

'Jac'

In [98]:
#Get every second element
name[::2]

'McalJcsn'

In [99]:
#Ger every second element from index 0 to index 4
name[0:5:2]

'Mca'

In [101]:
#Concatenate 2 strings
statement=name+" is the best"
statement

'Michael Jackson is the best'

In [102]:
#Print string 3 times
3*name

'Michael JacksonMichael JacksonMichael Jackson'

In [103]:
#Concatenate strings in same variable
name=name+" is the best"
name

'Michael Jackson is the best'

In [104]:
#New line
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [105]:
#Tab
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [106]:
#Include backslash
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [107]:
#Raw string
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [109]:
# Convert all the characters in string to upper case
a = "Thriller is the sixth studio album"
print("Before upper:", a)
b = a.upper()
print("After upper:", b)

Before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [110]:
# Replace the old STRING with the new target string is the segment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [111]:
# Find the substring in the string
name = "Michael Jackson"
name.find('el')

5

In [113]:
# Find the substring in the string
name.find('Jack')

8

In [114]:
#Error find
name.find('dsksnfd')

-1

In [ ]:
#Modulo 2
#Actividad 2.1

In [116]:
A=(0,1,2,3)
print(A)

(0, 1, 2, 3)

In [117]:
A[0:2]

(0, 1)

In [118]:
B=["a","b","c"]
B[0:2]

['a', 'b']

In [119]:
B[0]="A"
print(B)

['A', 'b', 'c']

In [121]:
B[1:]

['b', 'c']

In [122]:
#Tuples

In [123]:
#Creating first tuple
tuple1=("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [124]:
#Print tuple
print(tuple1)

('disco', 10, 1.2)

In [126]:
#Print each element of tuple
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [127]:
#Print data type of each element of tuple
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [129]:
#Obtain element of tuple using negate
tuple1[-2]

10

In [130]:
#Concatenate 2 tuples
tuple2=tuple1+("hard rock",10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [131]:
#Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [132]:
#Obtain lenght of tuple
len(tuple2)

5

In [133]:
Ratings=(0,9,6,5,10,8,9,6,2)

In [135]:
#Sort the tuple
RatingsSorted=sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [136]:
#Create a nest tuple
NestedT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [137]:
#Print element on each index
print("Element 0 of tuple: ",NestedT[0])
print("Element 1 of tuple: ",NestedT[1])
print("Element 2 of tuple: ",NestedT[2])
print("Element 3 of tuple: ",NestedT[3])
print("Element 4 of tuple: ",NestedT[4])

Element 0 of tuple:  1
Element 1 of tuple:  2
Element 2 of tuple:  ('pop', 'rock')
Element 3 of tuple:  (3, 4)
Element 4 of tuple:  ('disco', (1, 2))

In [138]:
#Print element on each index, including nested index
print("Element 2, 0 of tuple: ",NestedT[2][0])
print("Element 2, 1 of tuple: ",NestedT[2][1])
print("Element 3, 0 of tuple: ",NestedT[3][0])
print("Element 3, 1 of tuple: ",NestedT[3][1])
print("Element 4, 0 of tuple: ",NestedT[4][0])
print("Element 4, 1 of tuple: ",NestedT[4][1])

Element 2, 0 of tuple:  pop
Element 2, 1 of tuple:  rock
Element 3, 0 of tuple:  3
Element 3, 1 of tuple:  4
Element 4, 0 of tuple:  disco
Element 4, 1 of tuple:  (1, 2)

In [139]:
#Print elements of the second element of the second nested index
print("Element 2, 1, 0 of tuple: ",NestedT[2][1][0])
print("Element 2, 1, 1 of tuple: ",NestedT[2][1][1])

Element 2, 1, 0 of tuple:  r
Element 2, 1, 1 of tuple:  o

In [140]:
#Print elements of the second element of the second nested index
print("Element 4, 1, 0 of tuple: ",NestedT[4][1][0])
print("Element 4, 1, 1 of tuple: ",NestedT[4][1][1])

Element 4, 1, 0 of tuple:  1
Element 4, 1, 1 of tuple:  2

In [149]:
#Sample tuple
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [142]:
len(genres_tuple)

8

In [143]:
genres_tuple[3]

'hard rock'

In [145]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [146]:
genres_tuple[0:2]

('pop', 'rock')

In [147]:
genres_tuple.index("disco")

7

In [150]:
C_Tuple=(-5,1,-3)
C_TupleSorted=sorted(C_Tuple)
C_TupleSorted

[-5, -3, 1]

In [151]:
#Lists

In [152]:
#Create a list
L=["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [153]:
#Print the elements of each index
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [155]:
#New list
L=["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [156]:
#Slicing
L[3:5]

['MJ', 1]

In [157]:
#Use extend to add elements to list
L=[ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [158]:
#Use append to add elements to list
L=[ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [159]:
# Use extend to add elements to list
L=[ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [160]:
# Use append to add elements to list
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [161]:
# Change the element based on the index
A=["disco", 10, 1.2]
print('Before change:', A)
A[0]='hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [162]:
# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [163]:
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [164]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [165]:
# Copy (copy by reference) the list A
A=["hard rock", 10, 1.2]
B=A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [166]:
# Examine the copy by reference
print('B[0]:', B[0])
A[0]="banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [167]:
# Clone (clone by value) the list A
B=A[:]
B

['banana', 10, 1.2]

In [168]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [169]:
#Actividad 2.2

In [170]:
#Create a set
set(["A","B","C","A","B","C"])

{'A', 'B', 'C'}

In [172]:
#Add an element to the set
S={"A","B","C"}
S.add("D")
S

{'A', 'B', 'C', 'D'}

In [175]:
#Find intersection
A={1,2,3,4,5}
B={1,3,9, 12}
C=A&B
C

{1, 3}

In [176]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [177]:
#Sets

In [178]:
#Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [180]:
#Convert list to set
album_list=[ "Michael Jackson", "Thriller", 1982, "00:42:19", "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set=set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [181]:
#Convert list to set
music_genres=set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [182]:
#Sample set
A=set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [183]:
#Add element to set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [190]:
#Try adding duplicate element to the set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [185]:
#Remove the element from set
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [186]:
#Verify if the element is in the set
"AC/DC" in A

True

In [189]:
#Sample Sets
album_set1=set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2=set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [188]:
#Print two sets
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [191]:
#Find the intersections
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [192]:
#Find the difference in set1 but not set2
album_set1.difference(album_set2)

{'Thriller'}

In [193]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [194]:
#Use intersection method to find the intersection of album_list1 and album_list2
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [195]:
#Find the union of two sets
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [196]:
#Check if superset
set(album_set1).issuperset(album_set2)

False

In [197]:
#Check if subset
set(album_set2).issubset(album_set1)

False

In [207]:
#Check if subset
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [199]:
#Check if superset
album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [200]:
#Actividad 2.3

In [201]:
#Create dictionary
D={'a':0,'b':1,'c':2}

In [202]:
#Find value of key 'a'
D['a']

0

In [203]:
#Find the keys of dictionary
D.keys()

dict_keys(['a', 'b', 'c'])

In [204]:
#Dictionary

In [205]:
#Create a dictionary
Dict={"key1":1, "key2":"2", "key3":[3, 3, 3], "key4":(4, 4, 4), ('key5'):5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [206]:
#Access value using key
Dict['key1']

1

In [220]:
#Create new dictionary
release_year_dict={"Thriller": "1982", "Back in Black": "1980", "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [209]:
#Get value using keys
release_year_dict["Thriller"]

'1982'

In [210]:
release_year_dict["The Bodyguard"]

'1992'

In [211]:
#Obtain keys
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [212]:
#Obtain values
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [221]:
#Append value to dictionary
release_year_dict["The Graduation"]="2007"
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'The Graduation': '2007'}

In [222]:
#Delete entries in dictionary
del(release_year_dict["Thriller"])
del(release_year_dict["The Graduation"])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [223]:
#Verify elements in dictionary
"The Bodyguard" in release_year_dict

True

In [224]:
#Create dictionary
soundtrack_dic={"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [225]:
#Find keys
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [226]:
#Find values
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [227]:
#Create dictionary
album_sales_dict={"Back in Black":50,"The Bodyguard":50,"Thriller":65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [228]:
#Find value in dictionary
album_sales_dict["Thriller"]

65

In [229]:
#Find keys
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [230]:
#Find values
album_sales_dict.values()

dict_values([50, 50, 65])