In [1]:
#Actividad 2-1 Python for Data Science
#Modulo 4

In [2]:
#Read File

In [3]:
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")

In [5]:
#Read a file
example1="Example1.txt"
file1=open(example1,"r")

In [6]:
#Print the path of the file
file1.name

'Example1.txt'

In [7]:
#Print the mode of the file
file1.mode

'r'

In [8]:
#Read the file
FileContent=file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [9]:
#Print the file with '\n' as a new line
print(FileContent)

This is line 1
This is line 2
This is line 3

In [10]:
#Type of file content
type(FileContent)

str

In [11]:
#Close file
file1.close()

In [13]:
#Open a file using function with
with open(example1, "r") as file1:
    FileContent=file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [14]:
#Verify the file is closed
file1.closed

True

In [15]:
#Content of the file
print(FileContent)

This is line 1
This is line 2
This is line 3

In [16]:
# Read first four characters
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [17]:
#Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [18]:
#Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [19]:
#Read one line
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [20]:
with open(example1, "r") as file1:
    print(file1.readline(20)) #Does not read past the end of line
    print(file1.read(20)) #Returns the next 20 chars

This is line 1

This is line 2
This

In [21]:
#Iterate through the lines
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [24]:
#Read all lines and save as a list
with open(example1, "r") as file1:
    FileasList = file1.readlines()
FileasList[0]
FileasList[1]
FileasList[2]

'This is line 3'

In [25]:
#Write File

In [26]:
#Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [27]:
#Read file
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [28]:
#Write lines to file
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [29]:
#Check whether write to file
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [30]:
#Sample list of text
Lines=["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [31]:
#Write the strings in the list to text file
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [32]:
#Verify if writing to file is successfully executed
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [33]:
#Overwrite
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
ne A
This is line B
This is line C

In [34]:
#Write a new line to text file
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [35]:
#Verify if the new line is in the text file
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
ne A
This is line B
This is line C
This is line C
This is line D
This is line E

In [36]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [37]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data):  #Empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
    testwritefile.seek(0,0) #Move 0 bytes from beginning.
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing')
    else: 
            print(data)
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 105
Read nothing

New Location : 0
Overwrite
ne A
This is line B
This is line C
This is line C
This is line D
This is line E
This is line E

Location after read: 105

In [38]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #Write at beginning of file
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #Testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line C
This is line D
This is line E
This is line E

In [39]:
#Copy file to another
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [40]:
#Verify if the copy is successfully executed
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line C
This is line D
This is line E
This is line E

In [41]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [42]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    34042      2020-1-13    yes
    63021      2019-8-3     yes
    59854      2016-1-1     yes
    21701      2018-3-7     yes
    85278      2015-3-17    yes
    37352      2017-2-12    yes
    76745      2017-4-6     yes
    63376      2017-2-20    yes
    67944      2017-5-5     yes
    87108      2019-9-19    yes
    95378      2019-6-7     yes
    62312      2016-6-4     yes
    57885      2018-9-19    yes
    49122      2019-1-6     yes
    54853      2016-8-1     no
    87108      2019-9-19    yes
    95378      2019-6-7     yes
    62312      2016-6-4     yes
    57885      2018-9-19    yes
    49122      2019-1-6     yes

Inactive Members:


Membership No  Date Joined  Active
    58672      2019-11-22   no
    72619      2018-12-19   no
    95522      2018-3-12    no
    30102      2019-1-8     no
    78731      2015-3-11    no
    50692      2016-9-7     no
    94881      2017-12-10   no
    27703      2015-1-15    no
    54853      2016-8-1     no

In [43]:
#Actividad 4.3

In [45]:
#Import pandas
import pandas as pd
df=pd.DataFrame({"a":[11, 21, 32], "b":[21, 22, 23]})

In [46]:
#Display first 3 rows
df.head(3)

    a   b
0  11  21
1  21  22
2  32  23

In [47]:
#Obtain column a
df["a"]

0    11
1    21
2    32
Name: a, dtype: int64

In [48]:
#Actividad 4.4

In [49]:
#Import pandas
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [50]:
#Find unique values on column a
df["a"].unique()

array([1, 2], dtype=int64)

In [51]:
#Return dataframe with only the rows where column a is less than 2
df1=df[df["a"]<2]

In [52]:
#Introduction to pandas in Python

In [53]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])

In [54]:
#Import required library
import pandas as pd

In [55]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [56]:
#Print first five rows of the DataFrame
df.head(5)

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [57]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [61]:
#Access to the column Length
x=df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [62]:
#Get the column as a series
x=df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [63]:
#Get the column as a DataFrame
x=df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [64]:
#Access to multiple columns
y=df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [65]:
#Access the value on the first row and the first column
df.iloc[0, 0]

'Michael Jackson'

In [66]:
#Access the value on the second row and the first column
df.iloc[1,0]

'AC/DC'

In [67]:
#Access the value on the first row and the third column
df.iloc[0,2]

1982

In [68]:
#Access the value on the second row and the third column
df.iloc[1,2]

1980

In [69]:
#Access the column using the name
df.loc[1, 'Artist']

'AC/DC'

In [71]:
#Access the column using the name
df.loc[0, 'Released']

1982

In [72]:
#Slicing the dataframe
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [73]:
#Slicing the dataframe using name
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [74]:
q=df[["Rating"]]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [76]:
q=df[["Released","Artist"]]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [77]:
df.iloc[1, 2]

1980

In [78]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [79]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
b,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
c,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
d,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
e,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0